# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opensdf
OpenCvTest/OpenCvTest.sdf
*.sdf
*.ilk
OpenCvTest/Debug/OpenCvTest.pdb
*.sdf
OpenCvTest/OpenCvTest.sln
*.log
OpenCvTest/OpenCvTest/Debug/OpenCvTest.tlog/cl.command.1.tlog
*.suo
OpenCvTest/OpenCvTest/Debug/OpenCvTest.tlog/cl.command.1.tlog
*.tlog
OpenCvTest/OpenCvTest/Debug/OpenCvTest.tlog/OpenCvTest.lastbuildstate
*.pdb
OpenCvTest/OpenCvTest/Release/OpenCvTest.tlog/CL.write.1.tlog
*.tlog
OpenCvTest/OpenCvTest/OpenCV_Debug.props
*.props
OpenCvTest/OpenCvTest/OpenCvTest.vcxproj
OpenCvTest/OpenCvTest/OpenCvTest.vcxproj.user
*.vcxproj
OpenCvTest/OpenCvTest/Debug/OpenCvTest.tlog/OpenCvTest.lastbuildstate
*.tlog
OpenCvTest/OpenCvTest/Release/OpenCvTest.tlog/CL.read.1.tlog
*.vcxproj
OpenCvTest/OpenCvTest.sdf
*.sdf
OpenCvTest/OpenCvTest/Debug/OpenCvTest.tlog/cl.command.1.tlog
*.lastbuildstate
OpenCvTest/OpenCvTest/OpenCV_Debug.props
